*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#a7d6e5;
}

.container{
  width:920px;
  height:640px;
  display:flex;
  background:#a7d6e5;
  border-radius:20px;
  overflow:hidden;
}

/* LEFT PANEL */
.left{
  width:50%;
  background:#f2f2f2;
  padding:50px 40px; /* equal top-bottom */
  display:flex;
  flex-direction:column;
  justify-content:center;
}


.left h1{
  text-align:center;
}

.subtitle{
  text-align:center;
  color:gray;
  font-size:13px;
  margin-bottom:15px;
}

.left h2{
  text-align:center;
  margin:15px 0 5px;
}

.small{
  text-align:center;
  font-size:13px;
  margin-bottom:15px;
}

/* SOCIAL ICON BUTTONS */
.social{
  display:flex;
  gap:15px;
  justify-content:center;
  margin-bottom:15px;
}

.social button{
  width:60px;
  height:45px;
  border-radius:8px;
  border:1px solid #ccc;
  background:white;
  cursor:pointer;
  font-size:20px;
}

.google-btn img{
  width:22px;
  height:22px;
}


.facebook i{
  color:#1877f2;
}

.social button:hover{
  background:#eaeaea;
}

.or{
  text-align:center;
  margin:10px 0;
}

/* INPUTS */
input{
  width:100%;
  padding:12px;
  margin-bottom:12px;
  border-radius:8px;
  border:1px solid #bbb;
}

 /*OPTIONS */
.options{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:13px;
  margin-bottom:15px;
}

.remember{
  display:flex;
  align-items:center;
  gap:6px;
}

.login-text{
  margin:0;
}

/* START BUTTON */
.start-btn{
  width:100%;
  padding:12px;
  background:#1976d2;
  border:none;
  color:white;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

.start-btn:hover{
  background:#125aa0;
}


.right{
  width:50%;
  background:url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') center/cover;
  position:relative;
}

.overlay{
  position:absolute;
  bottom:20px;
  right:150px;
  background:rgba(0,0,0,0.4);
  color:white;
  padding:15px 20px;
  border-radius:10px;
  width:260px;
}
.role-selection{
    font-size: 13px;
}

