.explore-wrapper {
  display: flex;
  height: 85vh;
  gap: 15px;
  padding: 15px;
  background: #f4f7f6;
}

.map-section,#map {
    flex-grow: 2;
    height: 100%;
}

.sidebar-section {
 width: 570px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 1.5rem;
    overflow-y: auto;
}

.search-container {
  display: flex;
    margin-bottom: 1rem;
  
}

.search-input { 
  width: 100%;
    height: 40px;
    padding: 0.5rem;
    border: 0.1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 0.75rem;
   }

.search-btn { 
   background: #0d6efd;
    color:white;
    border: none;
    padding: 0 1rem;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    margin-bottom: 0.75rem;
   }


.community-card {
   background: white;
    border-radius: 10px;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.gallery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.gallery-title { margin: 0;
   font-weight: 600; 
   color: #0d6efd;
   }

.gallery-count { 
  background:  #6c757d; 
  color: white; padding: 2px 8px;
   border-radius: 10px;
    font-size: 12px;
   }

.gallery-grid {
   overflow-y:auto;
    flex: 1; 
  }

.thumb-card {
  display: flex;
  gap: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.thumb-card:hover, .thumb-card.active {  
  transform: scale(1.05);
 }

.img-container { 
  height: 100px;
  width: 40%;
  flex-shrink: 0;
   background: #f0f0f0;  
  }

.thumb-img { 
  width: 100%;
   height: 100%;
    object-fit: cover;
   }

.thumb-text {
   font-size: 16px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.thumb-dates {
    display: flex;
    align-items: center;
    font-size: 11px;       /* Smaller than the title */
    color: #888;    
    font-style: italic;       
}
.thumb-info { 
  background: rgb(255, 255, 255);
   padding: 4px; 
   text-align: left;
   width: 60%;
   
 }

.btn-see-more {
  width: 100%;
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
